html,
body,
#map-id {
    height: 100%;
    padding: 0;
    margin: 0;
}

.legend {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #555;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend .earthquake {
    color: darkred;
}

.legend .fire {
    color: red;
}

.legend .tornado {
    color: gray;
}

.legend .hurricane {
    color: cadetblue;
}

.legend .flood {
    color: blue;
}

.legend .ice {
    color: darkblue;
}

.legend .landslide {
    color: black;
}

.legend .tsunami {
    color: darkviolet;
}

.ml3 {
    font-weight: 900;
    font-size: 2.5em;
}

td {
    text-align: center;
}